<% @games.each do |game| %>
  <div class="game-card">
    <h1> <%= link_to game.name, game_path(game) %> </h1>
    <li> <%= game.location %> </li>
    <li><%= game.price %> </li>
    <li><%= game.description %></li>
    <li><%= game.num_of_players %></li>
    <li><%= game.date %></li>
    <li><%= game.duration %></li>
  </div>
<% end %>
